@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts//fredoka-v17-latin-500.woff2") format("woff2");
}

:root {
  --color-bg: #fdfaf5;

  --color-primary: #bc9a5c;
  --color-primary-hover: #a6854d;

  --color-secondary: #f3eee4;
  --color-secondary-hover: #ebe3d5;

  --color-outline: transparent;
  --color-outline-border-hover: #ffffff;
  --color-outline-hover: #ffffff;

  --color-text-primary: #ffffff;
  --color-text-secondary: #bc9a5c;

  --color-button-disable-background: #e0e0e0;
  --color-button-disable: #444343;

  --color-scroll-bar: #8c6d3f;
  --color-scroll-bar-hover: #6d4906;

  --font-family: "Fredoka", sans-serif;
}
