@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&display=swap");

.main-header {
  width: 100%;
  background-color: var(--color-bg);
  border-bottom: 0p;
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px;
  max-height: 70px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  flex-shrink: 0;
}

.logo-icon {
  width: 32px;
  height: 32px;
  color: #bc9a5c;
  align-items: center;
}

.logo-text {
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 800;
  color: #6d4906;
  letter-spacing: -0.8px;
  margin-top: -1px;
}

.logo-image {
  padding: 0px;
  width: 60px;
  height: 60px;
}

.header-search-form {
  flex: 1;
  max-width: 800px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  padding: 4px 4px 4px 20px;
  transition: border-color 0.2s;
  height: 40px;
}

.search-input-wrapper:focus-within {
  border-color: #bc9a5c;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #666;
  background: transparent;
}

.search-icons-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-placeholder-icon {
  color: #999;
  font-size: 18px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #eee;
}

.search-submit-btn {
  background-color: #bc9a5c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.search-submit-btn:hover {
  background-color: #a6854d;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .logo-text {
    display: none;
  }
  .header-container {
    padding: 0 20px;
  }
}
