.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f8f4;
  font-family: var(--font-family);
  padding: 20px;
  flex-direction: column;
}

.auth-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

/* RIGHT PANEL */
.auth-form-panel {
  flex: 1.1;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.form-content h1 {
  font-size: 2.2rem;
  color: #1a1a1a;
  margin-bottom: 8px;
}

.subtitle {
  color: #888;
  font-size: 1rem;
  margin-bottom: 32px;
}

.support {
  color: #888;
  font-size: 1rem;
}

.support-div {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

/* FORM ELEMENTS */
.input-group {
  margin-bottom: 20px;
  flex: 1;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #1a1a1a;
  margin-bottom: 8px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 12px;
  color: #aaa;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  background-color: #f7f6f2;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
}

/* FOOTER */
.auth-footer {
  margin-top: auto;
  text-align: center;
  padding-top: 30px;
}

.toggle-link {
  color: #8c6d3f;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  .auth-card {
    flex-direction: column;
    padding-top: 25px;
  }
  .auth-form-panel {
    padding: 40px 35px 130px 35px;
  }
}
