body {
  margin: 0;
}

.category-products-home {
  margin-top: 35px;
  /* Use calc to ensure height matches viewport precisely */
  height: calc(100vh - 35px);
  box-sizing: border-box;
  overflow: hidden; /* Hide main browser scrollbar */
  display: flex;
  align-items: center; /* Creates the top/bottom equal spacing */
  justify-content: center;
  /* background-color: #fdfaf5; Clean organic background */
}

.category-scroll-viewport {
  width: 100%;
  /* 50px top + 50px bottom = 100px gap */
  height: calc(100% - 100px);
  overflow-y: auto;
  padding: 0 40px; /* Internal horizontal padding */
}

/* --- CUSTOM PREMIUM SCROLLBAR --- */

.category-scroll-viewport::-webkit-scrollbar {
  width: 8px;
}

.category-scroll-viewport::-webkit-scrollbar-track {
  background: transparent;
}

.category-scroll-viewport::-webkit-scrollbar-thumb {
  background: var(--color-scroll-bar);
  border-radius: 10px;
  border: 2px solid #fdfaf5;
}

.category-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-bar-hover);
}

.category-scroll-viewport {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scroll-bar) transparent;
}

/* Ensure the inner container fills the viewport width */

.category-products-contaiiner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* background-color: red; */
}

.products-contaiiner {
  padding-top: 25px;
}

.products-lists {
  border: 0;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  margin-bottom: 55px;
}

.hh {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  color: #6d4906;
  letter-spacing: 0.6px;
  padding-left: clamp(5px, 2vw, 80px);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.category-product-breadcrumbs {
  margin-bottom: 24px;
  font-weight: 600;
  color: #6c6c6c;
  display: flex;
  flex-direction: row;
}

.category-product-breadcrumbs span {
  font-size: 22px;
  cursor: pointer;
}

.category-product-breadcrumbs span:hover {
  text-decoration: underline;
}

.category-product-active-crumb {
  color: #2d2d2d;
  font-weight: 500;
}
